/***FONTS***/

@font-face
{font-family: "Aniron Regular"; 
  src: url("fonts/aniron/aniron_regular.ttf");}

@font-face
{font-family: "Party Business"; src: url("fonts/partybusiness/partybusiness.ttf");}

@font-face
{font-family: "Tengwar"; src: url("fonts/tengwar_annatar/tngani.ttf");}


/***General***/

* {--font: 100%;
  font-size: var(--font);}

h5 {font-size: calc(var(--font) + 5%)!important;}

h2, li, a, span, section#reward .btn.btn-light  {
  font-family: "Aniron Regular"!important;}

span.tengwar {font-family: "Tengwar"!important;
  color:#ff9d01!important;
  font-size: calc(var(--font) + 40%)!important;}

h2 {margin: 3%;}

section h2 {
  text-align: left!important;
  width: 100%;
  margin-bottom: 2%;
  font-size: calc(var(--font) + 55%)!important;}

h5, p {font-family: "Party Business";}


section {
	margin: auto auto 1% auto!important;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;}

.img img,
section#ring div.card {width: 100%;}

body {background-image: url(img/bg_light.png);}

img.round {border-radius: 50%;}


/***Navbar***/

nav.navbar.navbar-expand-lg {
  background-color: #ff5f01!important;}

nav .collapse.navbar-collapse {justify-content: flex-end!important;}

a.nav-link {color: #ecdbc7!important;
  font-size: 120%;
  margin: 0.25rem 1.3rem!important;
  padding: 0!important;
  display: inline!important;}

span.barre {color: #ecdbc7!important;}

@media only screen and (max-width: 991px) {span.barre{display: none;}}

ul li:last-child a.nav-link {border-right: none!important;}

a.nav-link:hover {border-bottom: 3px solid;}


/***Carousel***/

.carousel-caption {bottom: 30%!important;
  text-align: left;}

.carousel-caption h5 {font-size: 450%!important; 
  margin-bottom: 28px;}

.carousel-caption p {font-size: 250%!important;}

img.prev-icon {margin-top: -17px;
    margin-left: -5px;}

img.next-icon {margin-top: -17px;
    margin-right: -5px;}

/***Fellows***/

section#fellows {margin-bottom: 5%!important;}

.card {
	position: relative;
  background-color: #111111;}

img.img-alive {opacity: 0.7;}

img.img-alive:hover {opacity: 1;}

.text-fellow {
	box-sizing: border-box;
	object-fit: contain;
	width: 100%;
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 0;
  transition: all .3s ease-in;
  opacity: 0.6;}

img div.fellow-dead {
  position: absolute;
  top: 25%;}

div .text {
	justify-content: flex-start;
  align-items: flex-start;}

.fellow {  
	 justify-content: center;
  	align-items: center;
  	background-color: transparent;
  	opacity: 1;
    font-family: "Party Business"!important;
    font-size: calc(var(--font) + 40px)!important;
    position: absolute;
    top: 45%;
    color: white;
    transition: all .3s ease-in;}

.fellows-container:hover div.text {opacity: 0;}

.fellows-container:hover .fellow {
  opacity: 1;
  font-size: 35px!important;
  top: 65%;}

div .text p {
  	width: 85%;
  	border-radius: 10px;
  	margin: 5% 0 auto 6.5%;
  	color: black;
  	font-size: 150%;
  	font-weight: 400;}

div .text.fellow-dead p {margin: 11% 0 auto 22px!important;
  background: transparent!important;
  box-shadow: none;}


.text-fellow p {
  background: white;
	 position: absolute;
	 box-sizing: border-box;
    text-align: center;
    z-index: 3;
    font-size: calc(var(--font) + 120%)!important;
    font-family: "Party Business"!important;
    box-shadow: 2px 2px 2px 4px white;}

.text.text-fellow.fellow-dead p span {font-size: calc(var(--font) + 20px)!important;}

.text-fellow p span {font-size: var(--font)!important;
    font-family: "Party Business"!important;}

h2 span {color: black;
  font-size: calc(var(--font) - 20%);}

a.badge.badge-pill {font-size: 120%!important;
  margin: 0 auto 3% auto!important;
  color: #777777;
  font-weight: 400;}

a.badge.badge-pill:hover {color: #ff5f01;
  text-decoration-style: solid;}

.text-fellow span.tengwar-dead {position: absolute; 
  top: 80%!important; 
  left: 54%!important;
  color: #ff5f01!important;}


/***Reward***/

section#reward, #ring {background-color: #111111; margin-bottom: 1%;}

section#reward h2, #ring h2 {color: white;}

section#reward .text p {background-color: transparent;
  color: white;}

section#reward .btn.btn-light {color: #ff5f01;
  font-size: calc(var(--font) + 55%)!important;
  margin: 1% auto 5% auto;}

section#reward div .text p {margin: 0 5%!important;}

section#reward div.img {padding: 0 5%;}

/***Hunters***/

.media img {width: 25%;
  border-radius: 10px;}

.card-body .card-text {color: #999999;
  font-size: calc(var(--font) + 15px)!important;}

div.hunters {width: 100%;}


/***Ring****/

.media-body h5 {margin-top: 15%;}

.border {border: 1px solid #000;
	margin: 40px auto;}

table {overflow: auto; 
  text-align: center;}

section#ring div .card-header {background: #ff5f01;}

section#ring div.card-body {background: #e3dedb}

div.card.card-quote {margin-top: 20px;}

.blockquote-footer {margin-right: 15%;text-align: right;}


/***Army***/

img.army {width: 40%;}


/***Contact***/

form, #email, #adress, form-group select, #message {
	width: 90%; 
  	padding: 5px 10px;
  	margin: auto;}

.form-control {width: 90%;}

section#contact div div img {width: 85%;}


/***Footer***/

.list-group-item {border: none;
	background-color:transparent;}

footer {margin-bottom: 0px; 
	width: 100%;
  background-color: #ff5f01;}

.list-group > li a {color: #ecdbc7!important;}


/***Responsive***/


@media (max-width: 1245px) {
  a.nav-link {font-size: 80%!important;
    padding: 0!important;
    margin: 0.25rem 1.0rem!important;}
  .carousel-caption h5 {font-size: 350%!important;}
  .carousel-caption p {font-size: 150%!important;}}

@media (max-width: 950px) {
  .carousel-caption h5 {font-size: 230%!important;}
  .carousel-caption p {font-size: 150%!important;}}

@media only screen and (min-width: 950px) and (max-width: 1245px) {
  .text-fellow p {font-size: calc(var(--font) + 50%)!important;}
  .fellow {font-size: calc(var(--font) + 100%)!important; top: 40%;}
  .fellows-container:hover .fellow {font-size: 20px!important; top: 55%;}}

@media only screen and (min-width: 710px) and (max-width: 950px) {
  .text-fellow p {font-size: calc(var(--font) + 30%)!important;}
  .fellow {font-size: calc(var(--font) + 60%)!important; top: 20%;}
  .fellows-container:hover .fellow {font-size: 20px!important; top: 35%;}}

@media only screen and (min-width: 576px) and (max-width: 710px) {
  .text-fellow p {font-size: calc(var(--font) + 5%)!important;}
  .fellow {font-size: calc(var(--font) + 35%)!important; top: 15%;}
  .fellows-container:hover .fellow {font-size: 15px!important; top: 25%;}}

@media(max-width: 350px) {
  section#army button {width: 100%; font-size: 9px;}}