$primary: #F3603A;
$secondary: #fccc44;
$tertiary: #646361;
$textColor: black;
$ringWidth: 50px;
$base-font-size: 16px!default;

@font-face
{font-family: "Aniron Regular"; src: url("../fonts/aniron/aniron_regular.ttf");}
$primaryFont: "Aniron Regular";